.cc{
   box-shadow:-2px 1px 32px -12px rgb(89, 36, 132);
}



.ta{
    width: 80%;
}

.tu{
    margin-left: 35%;
}

.btc-grad {
    background-image: linear-gradient(to right, #6a3093 0%, #a044ff  51%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    margin-left: 30%;
    display: block;
  }